<!-- begin: templates/formHelp/surveyAboutHelp.html -->
<h3>Background to the project</h3>
<p>The majority of our ornamental plants are non-native. They contribute greatly to our enjoyment
of gardens and represent a long history of plant discovery and garden design. However, some
have escaped the controlled environment of gardens, and a small minority of these are
threatening native biodiversity or are causing severe problems for infrastructure, agriculture or
    forestry. Well known examples include Japanese Knotweed (<i>Reynoutria japonica</i>), <i>Rhododendron
        ponticum</i> and Himalayan Balsam (<i>Impatiens glandulifera</i>).</p>
<p>The period between introduction of a species and it first being noticed as a problem can be a
long one, making future control problematic. In Britain on average, this time span has been more
than one hundred years. Early detection of potentially problematic plants for further risk
    assessment could greatly improve our ability to prevent plant species becoming invasive.</p>
<p>This survey is based upon the assumption that it is gardeners who are most likely to notice first
if a particular ornamental plant may have the potential to spread outside the garden. (Most
gardeners will know which plants tend to overgrow others or tend to spread all over the
garden.) This knowledge could be invaluable in identifying potential invaders, triggering timely risk
    assessment.</p>
<!-- end: templates/formHelp/surveyAboutHelp.html -->
