<!-- begin: templates/helpPage.html -->
<div class="accordion" id="helpaccordion">
    <div class="card">
        <div class="card-header" id="helphelpheadingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About the invasive plants survey
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="helpheadingOne" data-parent="#helpaccordion">
            <div class="card-body">
                <div style="float: right; padding-left: 12px; margin: 0;" class="d-none d-md-block"><a href="/Plant_Alert_Flyer.pdf" target="_blank" title="Plant Alert introductory leaflet (pdf)"><img src="/img/leaflet_thumb-or8.png" alt="" width="196"><p>download Plant Alert leaflet (pdf)</p></a></div>
                <p>Invasive non-native plants are causing major problems
                for native biodiversity, ecosystems, infrastructure, the
                built environment and human health. Most of our
                invasive plants were introduced as ornamental garden
                    plants but then escaped into the wider environment.</p>
                <p>While maintaining the benefits and contributions of nonnative plants to our gardens we need to know
                    early which plants might endanger natural habitats in the future. Gardeners can play a crucial role
                    as they may be the first to notice any ornamental plants that show signs of invasiveness.</p>
                <p class="d-block d-md-none"><a href="/Plant_Alert_Flyer.pdf" target="_blank" title="Plant Alert introductory leaflet (pdf)">Download the Plant Alert Leaflet</a></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What happens to my records?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="helpheadingTwo" data-parent="#helpaccordion">
            <div class="card-body">
                <p>A list of reported plants can be accessed on the website. At least once a year we will publish a summary of all records received on the webpage and in the <a href="https://bsbi.org/">BSBI's newsletter</a>.
                Data collected will be used in risk assessments of species as well as to provide gardeners and nurseries with advice on which plants could also
                    become difficult to manage in gardens.</p>
                <p>The data will also be included in BSBI's permanent archive of plant occurrence records.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingwhatreport">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseWhatReport" aria-expanded="false" aria-controls="collapseThree">
                    Which plants should be reported?
                </button>
            </h5>
        </div>
        <div id="collapseWhatReport" class="collapse" aria-labelledby="helpheadingwhatreport" data-parent="#helpaccordion">
            <div class="card-body">
                <p>Many ornamental plants in your garden will spread
                    and this is a sign that they are growing well. We only
                    want to know about those that are spreading to an
                    extent that you have to control them to prevent them
                    overgrowing other plants or parts of your garden
                    where you do not want them.</p>
                    <p>If you do not know a plant you want to report or are
                    not sure, you can submit photographs we will use to
                    help with identification</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Help and support
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="helpheadingThree" data-parent="#helpaccordion">
            <div class="card-body">
                <p>If you encounter problems, would like to provide feedback about the survey or for more information about PlantAlert, please contact
                <a href="mailto:support@plantalert.org">support@plantalert.org</a>.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Links to further information
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="helpheadingFour" data-parent="#helpaccordion">
            <div class="card-body">
                <p>Introductory article published in BSBI news.<br>
                    Judith Conroy &amp; Katharina Dehnen-Schmutz. 2018. <a href="/GardenOrnamentals_BSBI_News_2018.pdf" target="_blank">Can gardeners help identify ornamental plants at risk
                    of becoming invasive?</a> BSBI News. <strong>139</strong>: 51.</p>
                <p>The findings of a pilot study for PlantAlert have been published:<br>
                    Dehnen-Schmutz, K. &amp; Conroy, J. Biol Invasions (2018) <strong>20</strong>: 3069. <a href="https://doi.org/10.1007/s10530-018-1759-3" target="_blank">https://doi.org/10.1007/s10530-018-1759-3</a></p>
                <p>Background information about invasive species can be found on the <a href="http://www.nonnativespecies.org/" target="_blank">GB Non-native Species Secretariat</a> website.</p>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    About us
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="helpheadingFive" data-parent="#helpaccordion">
            <div class="card-body">
                PlantAlert is a collaboration between and the <a href="https://www.coventry.ac.uk/research/areas-of-research/agroecology-water-resilience/" title="CAWR" target="_blank">Centre for Agroecology, Water and Resilience</a> at Coventry University and the <a href="https://bsbi.org/" target="_blank" title="BSBI">Botanical Society of Britain and Ireland</a>.
                <p>For more information, please contact <a href="mailto:support@plantalert.org">support@plantalert.org</a>.</p>
                <p>Follow us on twitter <a href="https://twitter.com/Plant_Alert" target="_blank">@Plant_Alert</a></p>
            </div>
        </div>
    </div>
</div>
<!-- end: templates/helpPage.html -->
