<!-- begin: templates/helpPage.html -->
<div class="accordion" id="helpaccordion">
    <div class="card">
        <div class="card-header" id="helphelpheadingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About the New Year Plant Hunt
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="helpheadingOne" data-parent="#helpaccordion">
            <div class="card-body">
                <p>BSBI's New Year Plant began eleven years ago as an informal activity on social media. Since then the project has grown and is beginning to form a significant archived snapshot of the plants in bloom at the beginning of the year.</p>
                <p>The project is contributing to our understanding of how wild and naturalised plants are responding to changes in autumn and winter weather patterns across Britain and Ireland.</p>
                <p>The 2022 Hunt will run from Saturday 1<sup>st</sup> to Tuesday 4<sup>th</sup> January: head out for a walk of up to 3 hours and see how many wild or naturalised plants (but not garden plants) you can find in bloom.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What happens to my records?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="helpheadingTwo" data-parent="#helpaccordion">
            <div class="card-body">
                <p>Data from the plant hunt will form part of BSBI's archive of millions plant occurrence records. The Plant Hunt records may be of particular interest as they represent a consistent snap-shot and should help expose long-term changes related to climate change.</p>
                <p>Our record will include the plants you've seen along with any photos that you've sent and the grid-reference for each occurrence. On the project website we show only a summary of the data, so that any confidential details are obscured.</p>
                <p>You can choose whether or not to include your name alongside the occurrence record in our archive. </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingwhatreport">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseWhatReport" aria-expanded="false" aria-controls="collapseThree">
                    Which plants should I record?
                </button>
            </h5>
        </div>
        <div id="collapseWhatReport" class="collapse" aria-labelledby="helpheadingwhatreport" data-parent="#helpaccordion">
            <div class="card-body">
                <p>
                    Only wild or naturalised plants, not garden plants. They must be in bloom please, plants that only have buds or seed heads don’t count.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpphotoid">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePhotoId" aria-expanded="false" aria-controls="collapseThree">
                    What if I don't know what the plant is?
                </button>
            </h5>
        </div>
        <div id="collapsePhotoId" class="collapse" aria-labelledby="helpphotoid" data-parent="#helpaccordion">
            <div class="card-body">
                <p>If you don't know the name of the plant, you can upload a photos instead and our experts will try to identify it for you.</p>
                <p>Your photos should include a picture of the whole plant and also close-up views of the leaves and flowers. Take photographs from the side (it's harder to identify plants from above)</p>
                <p>Please only choose to name plants that you identify reasonably confidently and avoid being overprecise unless you are certain (e.g. don't pick a sub-species if you only know the plant well at species level).</p>
                <p>Some common flowers such Dandelion (<i>Taraxacum</i> sp.) can't usually be identified precisely at this time of year, so please record them only at genus level (i.e. as 'Dandelion' / '<i>Taraxacum</i>').</p>
            </div>
        </div>
    </div>
    <div class="card">
    <div class="card-header" id="helpheadingThree">
        <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Locating records (grid-references)
            </button>
        </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="helpheadingThree" data-parent="#helpaccordion">
        <div class="card-body">
            <p>If using the recording form on a mobile device in the field then please enable GPS (the button near the location field).</p>
            <p>Otherwise you could type in a OS grid-reference if you know it, or enter a place name or postcode.</p>
            <p>You don't need to set a location for each record, as they will otherwise use the default for the list.</p>
        </div>
    </div>
</div>
    <div class="card">
        <div class="card-header" id="helpheadingMultilist">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseMultilist" aria-expanded="false" aria-controls="collapseMultilist">
                    Can I send more than one list.
                </button>
            </h5>
        </div>
        <div id="collapseMultilist" class="collapse" aria-labelledby="helpheadingMultilist" data-parent="#helpaccordion">
            <div class="card-body">
                <p>Yes! We'd welcome multiple lists. If you survey on more than one day or conduct two separate surveys on the same day (e.g. one in morning and then another somewhere else in the afternoon) then send separate lists.</p>
                <p>We think prefer lists to be equivalent to the area that someone might cover on foot in a local area. If driving some distance between sites, please use a separate list for each.</p>
                <p>You can start a new list or switch between your lists using the options on the 'Your lists' menu.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingSave">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSave" aria-expanded="false" aria-controls="collapseSave">
                    How do I save my list?
                </button>
            </h5>
        </div>
        <div id="collapseSave" class="collapse" aria-labelledby="helpheadingSave" data-parent="#helpaccordion">
            <div class="card-body">
                <p>The recording form will try to save your records automatically as you go along.</p>
                <p>If your network connection fails then records will be stored locally on your device until you are connected to the internet again. If you have added lots of images then saving may take a few minutes.</p>
                <p>If records are missing from your list on the results page, then please re-open the recording form to allow any unsaved data to be sent. You can also trigger a save using this link (or by choosing ‘save all’ from the lists menu of the recording form).</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Help and support
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="helpheadingFour" data-parent="#helpaccordion">
            <div class="card-body">
                <p>If you encounter problems, would like to provide feedback about the survey or for more information about the plant hunt, please contact
                    <a href="mailto:nyplanthunt@bsbi.org">nyplanthunt@bsbi.org</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    About us
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="helpheadingFive" data-parent="#helpaccordion">
            <div class="card-body">
                The New Year Plant Hunt is run by the <a href="https://bsbi.org/" target="_blank" title="BSBI">Botanical Society of Britain and Ireland</a>.
                <p>For more information, please contact <a href="mailto:nyplanthunt@bsbi.org">nyplanthunt@bsbi.org</a>.</p>
                <p>Follow us on twitter <a href="https://twitter.com/NYPlantHunt" target="_blank">@NYPlantHunt</a></p>
            </div>
        </div>
    </div>
</div>
<!-- end: templates/helpPage.html -->
