<!-- begin: templates/helpPage.html -->
<div class="accordion" id="helpaccordion">
    <div class="card">
        <div class="card-header" id="helphelpheadingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    About the New Year Plant Hunt
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="helpheadingOne" data-parent="#helpaccordion">
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What happens to my records?
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="helpheadingTwo" data-parent="#helpaccordion">
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingwhatreport">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseWhatReport" aria-expanded="false" aria-controls="collapseThree">
                    Which plants should I record?
                </button>
            </h5>
        </div>
        <div id="collapseWhatReport" class="collapse" aria-labelledby="helpheadingwhatreport" data-parent="#helpaccordion">
            <div class="card-body">
                <p></p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Help and support
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="helpheadingThree" data-parent="#helpaccordion">
            <div class="card-body">
                <p>If you encounter problems, would like to provide feedback about the survey or for more information about the plant hunt, please contact
                <a href="mailto:support@nyph.bsbi.org">support@nyph.bsbi.org</a>.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    Links to further information
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="helpheadingFour" data-parent="#helpaccordion">
            <div class="card-body">
                <p></p>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="helpheadingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    About us
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="helpheadingFive" data-parent="#helpaccordion">
            <div class="card-body">
                The New Year Plant Hunt is run by the <a href="https://bsbi.org/" target="_blank" title="BSBI">Botanical Society of Britain and Ireland</a>.
                <p>For more information, please contact <a href="mailto:support@nyph.bsbi.org">support@nyph.bsbi.org</a>.</p>
                <p>Follow us on twitter <a href="https://twitter.com/NYPlantHunt" target="_blank">@NYPlantHunt</a></p>
            </div>
        </div>
    </div>
</div>
<!-- end: templates/helpPage.html -->
