
<div class="container-fluid">
    <div class="row" style="height: 90vh;">
        <div class="col d-md-block pr-md-0 pt-3" id="col1panel" style="overflow-y: auto; max-height: calc(100vh - 5rem);">
        </div>
        <div class="col d-md-none pl-0 pr-0" id="ctrlpanel" style="background-color: aliceblue; width: 28px; max-width: 28px; overflow-y: hidden; ">
            <button class="navbar-light navbar-toggler pl-0 pr-0" type="button" aria-label="Back" id="right-panel-back">
                <i class="material-icons-round" style="color: gray;">view_list</i>
            </button>
        </div>
        <div class="col d-md-block pr-md-0" id="col2panel" style="overflow-y: auto; height: 100%;">
        </div>
    </div>
</div>
