<p class="taxon-picker-type-prompt">Start typing the name of the plant.</p>
<p>Use a common or scientific name. Genus names can be abbreviated to a single letter,
    <br />e.g. <span style="font-family: sans-serif;">daisy or <i>b perennis</i></span></p>
<p style="margin-top: 2em;"><ul class="{localClass}">
    <li><span class="badge text-bg-success">1</span> number of records of the plant in this survey</li>
    <li><span><img class="nyph-star nyph-star-grey" alt="-" src="/img/nyph_star2.svg"><img class="nyph-star" alt="*" src="/img/nyph_star2.svg"><img class="nyph-star" alt="*" src="/img/nyph_star2.svg"></span> frequency during the New Year Plant Hunt</li>
    <li><span class="badge rounded-pill text-bg-warning">rare/scare</span> Nationally rare or scarce</li>
    <li class="hide-if-unlocalised"><span class="badge rounded-pill text-bg-success d-none d-md-inline">current</span><span class="badge rounded-pill text-bg-success d-md-none">C</span> Recorded in hectad within the past 10 years</li>
    <li class="hide-if-unlocalised"><span class="badge rounded-pill text-bg-warning d-none d-md-inline">previous</span><span class="badge rounded-pill text-bg-warning d-md-none">P</span> Recorded in hectad since 1987 but not in the past 10 years</li>
    <li class="hide-if-unlocalised"><span class="badge rounded-pill text-bg-secondary d-none d-md-inline">absent</span><span class="badge rounded-pill text-bg-secondary d-md-none">-</span> Not known in the hectad in recent times</li>
</ul></p>{localMessage}
