<!-- begin: templates/resetModal.html -->
<div class="modal fade" id="resetmodal" tabindex="-1" role="dialog" aria-labelledby="resetmodalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetmodalTitle">Reset?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm that you wish to clear out your survey data.
                <p>Warning: any unsaved changes will be lost.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="resetmodalconfirmed">Reset</button>
            </div>
        </div>
    </div>
</div>
<!-- end: templates/resetModal.html -->
