<!-- begin: templates/syncFailureModal.html -->
<div class="modal fade" id="saveallfailure" tabindex="-1" role="dialog" aria-labelledby="saveallfailureTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveallfailureTitle">One or more records could not be saved</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please check your connection to the network and try again.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end: templates/syncFailureModal.html -->
