<!-- begin: templates/welcome.html -->
<p>Help us record the plants that are in bloom over the New Year (from the 1<sup>st</sup> to 4<sup>th</sup> January).</p>
<p>Data collected by New Year Plant Hunters help us build up a clearer picture of how our wildflowers are responding to changes in autumn and winter weather patterns.</p>
<p>Each Plant Hunt survey should last no more than three hours, on a single day. If you visit different places or take-part on multiple days then you can send as many separate surveys as you like.</p>
<p>Have fun and stay safe.</p>
<!-- end: templates/welcome.html -->
