<!-- begin: templates/welcome.html -->
<p>Help us record the plants that are in bloom over the New Year (from New Year's Eve to 3<sup>rd</sup> January).</p>
<p>Data collected by New Year Plant Hunters help us understand how our wildflowers are responding to changes in autumn and winter weather patterns.</p>
<p>Each Plant Hunt survey should last no more than three hours, on a single day. If you visit different places or take part on multiple days then you can send as many separate surveys as you like.</p>
<p>To start a new list, or to return to one of your previous lists, please use the 'Your lists' menu at the top of the page.</p>
<!-- end: templates/welcome.html -->
