<!-- begin: templates/welcome.html -->
<p>templates/welcome.html</p>
<p>The information that you provide will be used by
    <a href="https://bsbi.org/" target="_blank" title="Botanical Society of Britain and Ireland">BSBI</a> as part of a long-term study looking at changes in plant phenology and distribution. We'll include your plant records in a permanent archive held by BSBI.</p>
<p>To follow up any queries about the survey we request that you please provide your name and email address. You can choose whether or not
    to include your name in our archive of plant records. Your email address will be
confidential and won't be archived.</p>
<p>A summary of the New Year Plant Hunt surveys will appear on the project website.</p>
<!-- end: templates/welcome.html -->
