{
  "presets": [
    ["@babel/env", {
      "targets" : {
        "browsers" : "> 0.2%, last 2 versions, not dead"
      },
      "useBuiltIns": "usage",
      "corejs" : "3.19",
      "modules": false,
      "debug": false
    }
    ]
  ]
}
